<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Themepixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>DashByte - Premium Dashboard Template</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="../lib/remixicon/fonts/remixicon.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style.min.css">
  </head>
  <body class="page-sign d-block py-0">

    <div class="row g-0">
      <div class="col-md-7 col-lg-5 col-xl-4 col-wrapper">
        <div class="card card-sign">
          <div class="card-header">
            <a href="../" class="header-logo mb-5">NodeTalks</a>
          </div><!-- card-header -->
          <div class="card-body">
            <div class="mb-4">
              <label class="form-label">Username</label>
              <input type="text" class="form-control">
            </div>
            <div class="mb-4">
            <label class="form-label">Room Chat</label>
              <select class="form-select" aria-label="Select Room">
                <option selected>-- Please Select Room --</option>
                <option value="1">Room Economy</option>
                <option value="2">Room Business</option>
                <option value="3">Room God</option>
              </select>
            </div>
            <button class="btn btn-primary btn-sign">Sign In</button>

           
          </div><!-- card-body -->
        
        </div><!-- card -->
      </div><!-- col -->
    </div><!-- row -->

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
      'use script'

      var skinMode = localStorage.getItem('skin-mode');
      if(skinMode) {
        $('html').attr('data-skin', 'dark');
      }
    </script>
  </body>
</html>
